body, html {
  font-family: arial, sans-serif;
  font-size: 9pt;
}

p#title {
  /* font-weight: bold; */
  text-align: center;

  display:flex;
  justify-content: center;
}

p#title * {
  margin-right: 10px;
}

#visualization {
  width: 100%;
  margin-top: 5px;
}

.vis-item {
  padding: 2px;
  text-align: center;
  border-color: rgba(0,0,0,0.5);
}

.vis-item.path-t {
  /*background-color: rgba(255, 0, 0, 1);*/
  background-color: white;
  color:rgba(255, 0, 0, 1);
  border-color: rgba(255, 0, 0, 0.5);
}

.vis-item.path-nt {
  /*background-color: rgba(255, 165, 0, 1);*/
  background-color: white;
  color: rgba(255, 165, 0, 1);
  border-color: rgba(255, 165, 0, 0.5);
}

.vis-item.path-fin {
  background-color: rgba(200,255,200,1);
  /*background-color: white;*/
  /*color: rgba(100,200,100,1);*/
  border-color: rgba(100,200,100,0.5);
  /*width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;*/
}

.vis-item.traitement-l, .vis-item.traitement-s {
  /*background-color: rgba(130, 130, 130, 1);*/
  background-color: white;
  color: rgba(130, 130, 130, 1);
  /*color: white;*/
  border-color: rgba(130, 130, 130, 0.5);

}

.vis-item.crb, .vis-item.inclusion {
  /*background-color: rgba(180, 180, 255, 1);*/
  background-color: white;
  color: rgba(129,129,255, 1);
  border-color: rgba(129, 129, 255, 0.5);
}

.vis-item.consultation {
  /*background-color: rgba(243,243,76, 1);*/
  background-color: white;
  color: rgba(156,156,48,1);
  border-color: rgba(156,156,48, 0.5);
}

.vis-item.comp {
  background-color: white;
  color: rgba(180,180, 0,1);
  border-color: rgba(180,180, 0,0.5);
}

.vis-item.examen {
  background-color: white;
  color: black;
  border-color: rgba(0,0,0,0.5);
}
.link {
  cursor: pointer;
}


.tooltip:hover .tooltip-text {
  display: block;
  /*flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;*/
}

.tooltip-text {
  box-sizing: border-box;
  display: none;/*
  background-color: rgba(230,230,230,0.8);*/
  background-color: white;
  color: #333;
  padding: 5px;
  border-radius: 6px;
  min-width: max-content;
  /* margin-left: -70px; */
  text-align: center;
  border: 1px solid black;

  position: absolute;
  right: calc(100% + 8px);
}

.tooltip-text.up {
  /* bottom: 120%; 
  left: 50%; */
  bottom: 0;
} 

.tooltip-text.down {
  /* top: 120%; 
  left: 50%; */
  top: 0;
}

/* .tooltip-val {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
} */
/*.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}*/

.tooltip-norm, .tooltip-anorm {
  /*display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;*/
  max-width: 100%;
}
.tooltip-anorm {
  color: red;
}

.synthese-line, .tooltip-line {
  margin: 3px;
  /* background-color: rgb(200, 200, 200); */
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.synthese-line:last-child, .tooltip-line:last-child {
  border-width: 0;
}

/*.tooltip-text * {
  outline: 1px solid magenta;
}*/
/* .vis-dot.path-fin {
  border-color: rgba(0,100,0,0.3);
}*/

/*.val-anormale {
  color: red;
}

.vis-item p {
  margin-top: 0;
  margin-bottom: 5px;
}*/

.btn {
  background-color: red;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  padding: 5px;
  cursor: pointer;
  text-align: center;
  max-height: 16px;
}

#nb-btn {
  background-color: green;
}

.tolerance {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tolerance input {
  max-width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 25px;
}

.tolerance .btn {
  background-color: rgba(190, 0, 0, 0.6);
  transition: box-shadow 0.3s linear;
}

.tolerance .btn:active {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}

.card {
  background-color: rgb(199, 199, 199);
  border-radius: 16px;
  padding: 8px;
}

#cap-btn {
  margin: 10px;
  padding: 10px;
  background-color: rgb(10, 17, 119);
  color: white;
  right: 0;
  position: absolute;
  border: none;
}

#close-btn {
  font-weight: bold;
  background-color: red;
  color: white;
  float: right;
  margin-bottom: 4px;
  border: none;
}

button {
  transition: box-shadow 0.5s;
}

button:focus {
  outline:none;
}

button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

#output-card {
  display:none;
  margin: 4px;
}

#output {
  border: 1px solid black;
  box-sizing: border-box;
  max-width: 100%;
}

div.vis-current-time {
  border: 1px dashed blue;
  box-sizing: border-box;
  width: 2px;
  background-color: rgba(1,1,1,0);
}

div.vis-custom-time.deces {
  border: 1px solid red;
  box-sizing: border-box;
  width: 2px;
  background-color: rgba(1,1,1,0);
  pointer-events: none;
  cursor: initial;
}