body, html {
      font-family: arial, sans-serif;
      font-size: 9pt;
    }

    #title {
      font-weight: bold;
      text-align: center;
    }

    #visualization {
      box-sizing: border-box;
      width: 100%;
      height: 300px;
      margin-top: 20px;
    }

    .vis-item {
      padding: 2px;
      text-align: center;
      border-color: rgba(0,0,0,0.5);
    }

    .vis-item.path-t {
      background-color: rgba(255, 0, 0, 1);
      /*background-color: white;
      color:rgba(255, 0, 0, 1);*/
      border-color: rgba(255, 0, 0, 0.5);
    }

    .vis-item.path-nt {
      background-color: rgba(255, 165, 0, 1);
      /*background-color: white;
      color: rgba(255, 165, 0, 1);*/
      border-color: rgba(255, 165, 0, 0.5);
    }

    .vis-item.path-fin {
      background-color: rgba(200,255,200,1);
      /*background-color: white;*/
      /*color: rgba(100,200,100,1);*/
      border-color: rgba(100,200,100,0.5);
      /*width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 50px solid #555;*/
    }

    .vis-item.traitement {
      /*background-color: rgba(130, 130, 130, 1);*/
      background-color: white;
      color: rgba(130, 130, 130, 1);
      /*color: white;*/
      border-color: rgba(130, 130, 130, 0.5);

    }

    .vis-item.examen {
      /*background-color: rgba(180, 180, 255, 1);*/
      background-color: white;
      color: rgba(129,129,255, 1);
      border-color: rgba(129, 129, 255, 0.5);
    }

    .vis-item.consultation {
      /*background-color: rgba(243,243,76, 1);*/
      background-color: white;
      color: rgba(156,156,48,1);
      border-color: rgba(156,156,48, 0.5);
    }

   /* .vis-dot.path-fin {
      border-color: rgba(0,100,0,0.3);
    }*/

    /*.val-anormale {
      color: red;
    }

    .vis-item p {
      margin-top: 0;
      margin-bottom: 5px;
    }*/

    .btn {
      background-color: red;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
      padding: 10px;
      margin: auto;
      cursor: pointer;
      text-align: center;
      max-width: 250px;
    }

    #nb-btn {
      background-color: green;
    }

    .triangle {
      width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #00ff00;
  margin-top: 100px;
    }