body {
    font-size: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label {
    font-weight: bold;
}

#title .label {
    margin-left: 20px;
}

.graph-row {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: left;
}

.graph-label{
    /* min-width: max(7%, 160px); */

    text-align: center;
    margin: 0 0 5px 5px;
    padding: 4px;
    outline: 1px solid rgb(150, 150, 150)
    /* background-color: rgb(130,130,130); */
    /* color: white; */
}

.graph-row-labels .graph-label {
    min-width: 40px;
    min-height: 60px;
    line-height: 27px;
}

.graph-row-labels .graph-label.graph-top-left {
    min-height: 27px;
    min-width: 40px;
    outline: none;
}

.graph-col-labels .graph-label {
    min-width: 83px;
    min-height: 28px;
    line-height: 14px;
}

.graph-label-avg {
    color: rgb(100,100,100);
    font-size: 75%;
    font-style: italic;
}

.graph-item {
    min-height: 60px;
    min-width: 83px;
    text-align: center;
    margin: 0 0 5px 5px;
    padding: 4px;
    /* border: 1px solid rgb(150, 150, 150); */
    background-color: rgb(220, 220, 220);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.graph-item > * {
    min-width: 40%;
    min-height: 40%;
    padding: 3%;
    border-radius: 6px;
}

.graph-mut {
    background-color: rgba(255, 0, 0, 0.3);
}

.graph-mut .somatic {
    color: red;
}

.graph-mut .germline {
    color: black;
}

.graph-copy {
    background-color: rgba(255, 165, 0, 0.5);
}

.graph-expr, .graph-meth, .graph-mut {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.graph-expr > * , .graph-meth > * {
    min-width: 30%;
}

.graph-expr {
    background-color: rgba(0, 0, 255, 0.5);
}

.graph-expr .up, .graph-meth .hyper {
    color: red;
}

.graph-expr .down, .graph-meth .hypo {
    color: orange;
}

.graph-meth {
    background-color: rgba(0, 240, 0, 0.5);
}


#visualization {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.graph-pane {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: flex-start;
}

button {
    max-height: 30px;
    margin: 6px;
    padding: 6px;
    background-color: rgb(10, 17, 119);
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    transition: box-shadow 0.17s linear;
}

button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

button:focus {
    outline: none;
}

strong {
    font-weight: bolder;
}

#to-hide {
    display: none;
}

#top-btns, #matrix-top-btns, #top-right-btns, #matrix-top-right-btns, #top-left-btns, #matrix-left-btns {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

#row-type-btn {
    flex-shrink: 2;
}

#driver-btns, #carte-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.driver-btn, .carte-btn {
    flex-shrink: 1;
    min-width: 100px;
}

.driver-btn {
    background-color: rgb(110, 15, 15);
}

.driver-btn.driver-selected, .driver-btn:hover {
    background-color: rgb(231, 199, 157);
    color: rgb(110, 15, 15);
    box-shadow: none;
    transition: background-color 0.17s linear, color 0.17s linear;
}


.carte-btn {
    background-color: blue;
}

.carte-btn.driver-selected, .carte-btn:hover {
    background-color: #b2b2ff;
    color: blue;
    box-shadow: none;
    transition: background-color 0.17s linear, color 0.17s linear;
}


#close-btn {
    float: right;
}

.close-btn {
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 4px;
    margin: 4px;
    border-radius: 30%;
    width: 20px;
    height: 20px;
}

#filter-wipe-btn {
    display: none;
}

#output-card {
    z-index: 99;
    width: 80%;
    display: none;
    background-color: rgb(150, 150, 150);
    border-radius: 8px;
    padding: 8px;
    margin: auto;
}

#create-graph-btn {
    background-color: rgb(230, 149, 0);
    /* color: black; */
    display: none;
}

#cap-btn, #genes-cap-btn {
    background-color: green;
}

#output, #genes-output {
    max-width: 100%;
}

#loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(10, 17, 119); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease-in-out infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#settings, #matrix-settings {
    background-color: rgb(200,200,200);
    border-radius: 8px;
    padding: 8px;
}

#settings p {
    margin-left: 10px;
}

#nb-patients-span {
    display: none;
    color: blue;
}

.tooltip:hover .tooltip-text {
    /* display: block; */
    visibility: visible;
    opacity: 1;
  }

.tooltip {
    position: relative;
}
  
.tooltip-text {
    /* box-sizing: border-box; */
    /* display: none; */    
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    
    background-color: rgb(220, 220, 220);
    padding: 4px 4px 0 4px;
    border-radius: 6px;
    min-width: max-content;
    /* margin-left: -110px; */
    text-align: center;

    top: 0%; 
    left: calc(100% + 20px);
    position: absolute;
    z-index: 99;

}


.tooltip-item {
    margin-bottom: 4px;
    background-color: white;
    border-radius: 8px;
    padding: 2px 4px 2px 4px;
}

.radio {
    padding: 4px;
}

.radio input {
    margin: 0;
}

.page-number {
    cursor: pointer;
    background-color: rgb(110, 15, 15);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 4px;
    transition: background-color 0.17s linear, color 0.17s linear;
}

.page-number.current, .page-number:hover {
    background-color: rgb(231, 199, 157);
    color: rgb(110, 15, 15);
    transition: background-color 0.17s linear, color 0.17s linear;
}

.page-number.empty {
    cursor: initial;
}

.page-number.empty:hover {
    background-color: rgb(110, 15, 15);
    color: white;
}

.row-page-numbers, .column-page-numbers {
    display: flex;
    flex-wrap: nowrap;
}

.row-page-numbers {
    flex-direction: column;
    justify-content: flex-start;
}

.column-page-numbers {
    flex-direction: row;
    justify-content: center;
}

#genes-filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genes-filter-item {
    padding: 4px;
    margin: 2px;
    cursor: pointer;

}

.genes-filter-item, .genes-filter-item.genes-selected:active  {
    background-color: rgb(180, 180, 180);
    color: black;
}

.genes-filter-item.genes-selected:hover, .genes-filter-item:hover  {
    background-color: rgb(211, 188, 159);
    color: black;
}

.genes-filter-item.genes-selected, .genes-filter-item:active {
    background-color: rgb(231, 199, 157);
    color: rgb(110, 15, 15);
}

#genes-input-warning {
    color: red;
    display: none;
}

#driver-info-span {
    display: none;
}



#gene-window-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#gene-window {
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    box-shadow: 0 0 32px 10px rgba(0,0,0,0.5);
}

#genes-cap-btn {
    float: right;
}

#viewer-btn:hover {
    color: red;
}

#genes-output-card {
    display: none;
    background-color: rgb(150, 150, 150);
}

@media screen and (max-width: 1000px) {
    #top-right-btns {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    #cap-btn {
        margin-bottom: 10px;
    }

    #settings p {
        max-width: 80%;
    }

    /* #driver-btns, #carte-btns {
        flex-wrap: wrap;
    } */
}

