body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.graph-row {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: left;
}

.graph-label, .graph-item{
    /* min-width: max(7%, 160px); */
    min-height: 50px;
    width: 70px;
    text-align: center;
    line-height: 50px;
    margin: 0 0 5px 5px;
    padding: 8px;
    border: 1px solid rgb(150, 150, 150)
}


#visualization {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(10, 17, 119);
    color: white;
    border: none;
    cursor: pointer;
}

strong {
    font-weight: bolder;
}