body {
    font-size: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.graph-row {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: left;
}

.graph-label{
    /* min-width: max(7%, 160px); */
    min-height: 55px;
    min-width: 75px;
    text-align: center;
    line-height: 27px;
    margin: 0 0 5px 5px;
    padding: 8px;
    outline: 1px solid rgb(150, 150, 150)
    /* background-color: rgb(130,130,130); */
    /* color: white; */
}

.graph-item {
    min-height: 63px;
    min-width: 83px;
    text-align: center;
    margin: 0 0 5px 5px;
    padding: 4px;
    /* border: 1px solid rgb(150, 150, 150); */
    background-color: rgb(220, 220, 220);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.graph-item > * {
    min-width: 40%;
    min-height: 40%;
    padding: 3%;
    border-radius: 6px;
}

.graph-mut {
    background-color: rgba(255, 0, 0, 0.5);
}

.graph-copy {
    background-color: rgba(255, 165, 0, 0.5);
}

.graph-expr, .graph-meth {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.graph-expr > * , .graph-meth > * {
    min-width: 30%;
}

.graph-expr {
    background-color: rgba(0, 0, 255, 0.5);
}

.graph-expr .up, .graph-meth .hyper {
    color: red;
}

.graph-expr .down, .graph-meth .hypo {
    color: orange;
}

.graph-meth {
    background-color: rgba(0, 240, 0, 0.5);
}


#visualization {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin: auto;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(10, 17, 119);
    color: white;
    border: none;
    cursor: pointer;

    transition: box-shadow 0.3s ease-in;
}

button:hover {
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
}

button:focus {
    outline: none;
}

strong {
    font-weight: bolder;
}

#to-hide {
    display: none;
}

#cap-btn {
    float: right;
}

#close-btn {
    background-color: red;
    color: white;
    float: right;
    padding: 4px;
    margin: 4px;
}

#output-card {
    z-index: 99;
    width: 80%;
    display: none;
    background-color: rgb(150, 150, 150);
    border-radius: 8px;
    padding: 8px;
    margin: auto;
}

#output {
    max-width: 100%;
}