body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-item {
	border: 1px solid black;
	margin-bottom: 16px;
	padding: 8px;
}

.list-item > * {
	display: inline-block;
	margin-right: 16px;
	width: 25%;
}

#sliders > * {
	display: block;

}

