body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p#title {
    font-size: 90%;
    margin-bottom: 0;
    text-align:  center;
}

.protein_coding {
    color: rgb(255, 165, 0);
}

.protein_coding.noref {
    color: red;
    border-color: red;
}

.retained_intron, .process_transcript {
    color: blue;
}

/* .vis-label {
    font-size: 80%;
} */

.comp-ref {
    color: rgb(160, 160, 160);
}

.vis-range.protein_coding {
    border-color: rgba(255, 165, 0, 0.8);
}

.vis-range.retained_intron, .vis-range.process_transcript {
    border-color: rgba(0, 0, 255, 0.8);
}

.label {
    font-weight: bold;
    margin-left: 10px;;
}

.struct-item.vis-range.line {
    max-height: 2px;
    /* margin-top: -18px; */
    margin-top: 8px;
}

.struct-item.vis-range {
    background-color: white;
    border: 1px solid;
    /* margin-top: -8px; */
}

.card {
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    margin-top: 10px;
}

#visualization {
    background-color: white;
    border-radius: 8px;
    font-size: small;
}

.card .label {
    color: black;
}

.vis-range.anomalie-item, .vis-box.anomalie-item {
    background-color: white;
    text-align: center;
}

/* .anomalie-item.vis-item-content {
    min-width: 100%;
    text-align: center;
} */

.type-somatic, .vis-selected.type-somatic, .type-fa, .vis-selected.type-fa, .type-up, .vis-selected.type-up, .type-hyper, .vis-selected.type-hyper {
    border-color: red;
    color: red;
}

.type-germline, .vis-selected.type-germline, .type-hd, .vis-selected.type-hd {
    border-color: orangered;
    color: orangered;
}

.type-gain, .vis-selected.type-gain, .type-down, .vis-selected.type-down, .type-hypo, .vis-selected.type-hypo {
    border-color: blue;
    color: blue;
}

.type-no-diff, .vis-selected.type-no-diff {
    border-color: black;
    color: black;
}

.type-perte, .vis-selected.type-perte {
    border-color: green;
    color: green;
}

.vis-odd.vis-minor {
    background-color: rgb(250, 250, 250);
}



.anomalie-item:hover .tooltip-text {
    display: block;
  }
  
.tooltip-text {
    box-sizing: border-box;
    display: none;
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    min-width: 180px;
    margin-left: -90px;
    text-align: center;
    border: 1px solid;

    bottom: 110%; 
    left: 50%;
    position: absolute;
}

.tooltip-label {
    font-weight: bold;
}

.tooltip-val {
    color: black;
}

#cap-btn {
    margin: 10px;
    padding: 10px;
    background-color: rgb(10, 17, 119);
    color: white;
    right: 0;
    position: absolute;
    border: none;
}

#cap-btn:active {
    /* background-color: rgb(15, 26, 190); */
}

#close-btn {
    font-weight: bold;
    background-color: red;
    color: white;
    float: right;
    margin-bottom: 4px;
    border: none;
}

button:focus {
    outline:none;
}

button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

#output-card {
    display:none;
    margin: 4px;
}

#output {
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 100%;
}

.vis-timeline {
    border: none;
}