body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#settings {
    background-color: rgb(200,200,200);
    border-radius: 8px;
    padding: 8px;
}

#settings p {
    margin-left: 10px;
}



#top-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#cap-btn {
    margin: 10px;
    padding: 10px;
    background-color: green;
    color: white;
}

#close-btn {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 4px;
    margin: 0 0 4px 0;
    border-radius: 30%;
    float: right;
    width: 25px;
    height: 25px;
    text-align: center;
}

button {
    transition: box-shadow 0.17s linear;
    cursor: pointer;
    border: none;
}

button:focus {
    outline:none;
}

button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

#output-card {
    display:none;
    margin: 4px;
}

#output {
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 100%;
}



#to-capture {
    display: none;
}

#genes-input-warning {
    color: red;
    display: none;
}


#driver-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.driver-btn {
    background-color: rgb(110, 15, 15);
    flex-shrink: 1;
    color: white;
    min-width: 100px;
    max-height: 40px;
    margin: 10px;
    padding: 10px;
}

.driver-btn.driver-selected, .driver-btn:hover {
    background-color: rgb(231, 199, 157);
    color: rgb(110, 15, 15);
    box-shadow: none;
    transition: background-color 0.17s linear, color 0.17s linear;

}


#genes-filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genes-filter-item {
    padding: 4px;
    margin: 2px;
    cursor: pointer;

}

.genes-filter-item, .genes-filter-item.genes-selected:active  {
    background-color: rgb(180, 180, 180);
    color: black;
}

.genes-filter-item.genes-selected:hover, .genes-filter-item:hover  {
    background-color: rgb(211, 188, 159);
    color: black;
}

.genes-filter-item.genes-selected, .genes-filter-item:active {
    background-color: rgb(231, 199, 157);
    color: rgb(110, 15, 15);
}
